name: Test Runner

on:
  push:

jobs:
  build:
    runs-on: self-hosted 

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: List project files
        run: |
          echo "Listing working directory:"
          ls
